name: Upload Release Asset

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true  # This ensures LFS files are pulled

      - name: Upload .jar to release
        uses: softprops/action-gh-release@v1
        with:
          files: src/omotes_simulator_core/entities/assets/bin/rosim-batch-*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}